sources/gcide/gcide-conv.rnc


a-content = attribute href {text}?,attribute HREF {text}?,text
a-elem = element a{a-content}
ab-content = text
ab-elem = element ab{ab-content}
ab.entry-content = (ab-elem | ab.full-elem)*
ab.entry-elem = element ab.entry{ab.entry-content}
ab.full-content = text
ab.full-elem = element ab.full{ab.full-content}
abbr-content = text
abbr-elem = element abbr{abbr-content}
adjf-content = text
adjf-elem = element adjf{adjf-content}
altname-content =  mixed{(asp-elem | class-elem | col-elem | cref-elem | ecol-elem | er-elem | fam-elem | gen-elem | hw-elem | ord-elem | spn-elem | subclass-elem | sup-elem)*}
altname-elem = element altname{altname-content}
altsp-content =  mixed{(abbr-elem | as-elem | asp-elem | au-elem | er-elem | ets-elem | ex-elem | grk-elem | hw-elem | pluf-elem | plw-elem | pos-elem | pr-elem | sd-elem | wf-elem)*}
amorph-content =  mixed{(adjf-elem | au-elem | er-elem | ex-elem | pos-elem | pr-elem | ex-elem | ex-elem)*}
amorph-elem = element amorph{amorph-content}
ant-content = text
ant-elem = element ant{ant-content}
as-content =  mixed{(altname-elem | ant-elem | au-elem | chform-elem | city-elem | col-elem | contr-elem | corpn-elem | cref-elem | ecol-elem | er-elem | ex-elem | examp-elem | exp-elem | fam-elem | film-elem | fld-elem | fract-elem | fract-elem | gen-elem | grk-elem | conseq-elem | mark-elem | mathex-elem | mcol-elem | ord-elem | org-elem | part-elem | person-elem | person-elem | pos-elem | ptcl-elem | ex-elem | sd-elem | sig-elem | spn-elem | styp-elem | stype-elem | ex-elem)*}
as-elem = element as{as-content}
asp-content =  mixed{(fam-elem | gen-elem | hw-elem)*}
asp-elem = element asp{asp-content}
au-content =  mixed{(mark-elem | publ-elem | er-elem)*}
au-elem = element au{au-content}
au.entry-content = (au-elem | au.see-elem | au.who-elem | au.work-elem)*
au.entry-elem = element au.entry{au.entry-content}
au.see-content = text
au.see-elem = element au.see{au.see-content}
au.who-content = text
au.who-elem = element au.who{au.who-content}
au.work-content = text
au.work-elem = element au.work{au.work-content}
bar-content = text
bar-elem = element bar{bar-content}
bio-content = attribute source {text}?, mixed{(book-elem | city-elem | date-elem | edi-elem | er-elem | note-elem | org-elem | person-elem | person-elem | pr-elem | publ-elem)*}
bio-elem = element bio{bio-content}
book-content = text
book-elem = element book{book-content}
branchof-content = text
branchof-elem = element branchof{branchof-content}
caption-content = attribute source {text}?, mixed{(er-elem | note-elem | ex-elem | spn-elem | ex-elem)*}
caption-elem = element caption{caption-content}
cas-content = text
cas-elem = element cas{cas-content}
causedby-content =  mixed{(gen-elem | spn-elem)*}
causedby-elem = element causedby{causedby-content}
causes-content = text
causes-elem = element causes{causes-content}
cd-content =  mixed{(a-elem | abbr-elem | altname-elem | altsp-elem | ant-elem | as-elem | asp-elem | au-elem | book-elem | cas-elem | cd-elem | chform-elem | chname-elem | city-elem | class-elem | cnvto-elem | col-elem | compof-elem | contr-elem | country-elem | cp-elem | cref-elem | ecol-elem | er-elem | ets-elem | ets-elem | ety-elem | ex-elem | examp-elem | exp-elem | fam-elem | fexp-elem | figref-elem | fld-elem | fract-elem | fract-elem | gen-elem | geog-elem | grk-elem | illust-elem | isa-elem | itran-elem | mark-elem | mathex-elem | matrix-elem | member-elem | member-elem | note-elem | ord-elem | part-elem | part-elem | parts-elem | person-elem | person-elem | pluf-elem | pos-elem | pr-elem | prod-elem | prodby-elem | prod-elem | ptcl-elem | sd-elem | ship-elem | sig-elem | source-elem | specif-elem | spn-elem | state-elem | styp-elem | stype-elem | subclass-elem | supr-elem | table-elem | tradename-elem | var-elem | var-elem | ex-elem)*}
cd-elem = element cd{cd-content}
chform-content = text
chform-elem = element chform{chform-content}
chname-content = text
chname-elem = element chname{chname-content}
chreact-content = text
chreact-elem = element chreact{chreact-content}
city-content =  mixed{(ets-elem)*}
city-elem = element city{city-content}
class-content =  mixed{(er-elem)*}
class-elem = element class{class-content}
cnvto-content = text
cnvto-elem = element cnvto{cnvto-content}
col-content = attribute source {text}?, mixed{(cd-elem | ex-elem)*}
col-elem = element col{col-content}
colbreak-content = text
colbreak-elem = element colbreak{colbreak-content}
colheads-content = (coltitle-elem)*
colheads-elem = element colheads{colheads-content}
colret-content = text
colret-elem = element colret{colret-content}
coltitle-content = text
coltitle-elem = element coltitle{coltitle-content}
comp-content = text
comp-elem = element comp{comp-content}
compof-content = text
compof-elem = element compof{compof-content}
conjf-content =  mixed{(pr-elem)*}
conjf-elem = element conjf{conjf-content}
conseq-content =  mixed{(er-elem)*}
conseq-elem = element conseq{conseq-content}
consof-content = text
consof-elem = element consof{consof-content}
contains-content = text
contains-elem = element contains{contains-content}
contr-content =  mixed{(cref-elem | er-elem)*}
contr-elem = element contr{contr-content}
contxt-content = text
contxt-elem = element contxt{contxt-content}
corpn-content =  mixed{(ets-elem)*}
corpn-elem = element corpn{corpn-content}
corr-content = text
corr-elem = element corr{corr-content}
country-content = text
country-elem = element country{country-content}
cp-content = text
cp-elem = element cp{cp-content}
cref-content = text
cref-elem = element cref{cref-content}
cs-content = attribute source {text}?,attribute au {text}?, mixed{(altname-elem | altsp-elem | au-elem | cd-elem | cd-elem | chreact-elem | col-elem | cref-elem | def-elem | er-elem | ety-elem | ex-elem | fld-elem | mark-elem | mcol-elem | note-elem | plu-elem | pluf-elem | pos-elem | pr-elem | q-elem | au-elem | ex-elem | sd-elem | see-elem | sn-elem | source-elem | specif-elem | spn-elem | stype-elem | subclass-elem | table-elem | wordforms-elem | ex-elem)*}
cs-elem = element cs{cs-content}
date-content = text
date-elem = element date{date-content}
decf-content = text
decf-elem = element decf{decf-content}
def-content = attribute source {text}?,attribute au {text}?, mixed{(a-elem | abbr-elem | altname-elem | altname-elem | altsp-elem | ant-elem | as-elem | asp-elem | au-elem | book-elem | book-elem | branchof-elem | causedby-elem | causedby-elem | causes-elem | cd-elem | chform-elem | chname-elem | chreact-elem | city-elem | class-elem | cnvto-elem | col-elem | col-elem | comp-elem | org-elem | compof-elem | contains-elem | contr-elem | corpn-elem | corr-elem | country-elem | cref-elem | date-elem | date-elem | divof-elem | ecol-elem | er-elem | ets-elem | ets-elem | ety-elem | ex-elem | examp-elem | exp-elem | fam-elem | fld-elem | fract-elem | fract-elem | funct-elem | gen-elem | geog-elem | grk-elem | grp-elem | conseq-elem | haspart-elem | hw-elem | isa-elem | illu-elem | inv-elem | iref-elem | isa-elem | itran-elem | jour-elem | kingdom-elem | mark-elem | mark-elem | mathex-elem | mcol-elem | member-elem | membof-elem | member-elem | membof-elem | methodfor-elem | mord-elem | note-elem | ord-elem | org-elem | part-elem | part-elem | parts-elem | person-elem | person-elem | phylum-elem | plu-elem | pluf-elem | plw-elem | pos-elem | pr-elem | prod-elem | prodby-elem | ptcl-elem | publ-elem | q-elem | ex-elem | recipr-elem | river-elem | sd-elem | sfield-elem | sig-elem | simto-elem | singf-elem | sing-elem | sn-elem | source-elem | specif-elem | spn-elem | stage-elem | stageof-elem | state-elem | street-elem | styp-elem | stype-elem | subclass-elem | subfam-elem | subord-elem | subord-elem | subphylum-elem | subtypes-elem | sup-elem | tr-elem | tradename-elem | tran-elem | unit-elem | usage-elem | usedby-elem | usedfor-elem | uses-elem | var-elem | var-elem | wordforms-elem | ex-elem | xlati-elem)*}
def-elem = element def{def-content}
def2-content = attribute source {text}?,attribute au {text}?, mixed{(au-elem | def-elem | ety-elem | fld-elem | hw-elem | mark-elem | plu-elem | pluf-elem | pos-elem | pr-elem | sd-elem | see-elem | singf-elem | specif-elem | ex-elem)*}
def2-elem = element def2{def2-content}
dictionary-content = (front-elem)*
div0-content = attribute name {text}?,(h1-elem | h2-elem | ab.entry-elem | au.entry-elem)*
div0-elem = element div0{div0-content}
divof-content = (org-elem)*
divof-elem = element divof{divof-content}
ecol-content = text
ecol-elem = element ecol{ecol-content}
edi-content = text
edi-elem = element edi{edi-content}
emits-content = text
emits-elem = element emits{emits-content}
er-content = attribute source {text}?, mixed{(as-elem | pos-elem)*}
er-elem = element er{er-content}
ets-content =  mixed{(gen-elem | grk-elem | spn-elem)*}
ets-elem = element ets{ets-content}
ety-content =  mixed{(altname-elem | as-elem | asp-elem | au-elem | book-elem | city-elem | org-elem | contr-elem | corpn-elem | country-elem | cref-elem | er-elem | ets-elem | ets-elem | ex-elem | film-elem | fract-elem | fu-elem | gen-elem | grk-elem | itran-elem | itran-elem | org-elem | person-elem | person-elem | pluf-elem | plw-elem | pos-elem | pr-elem | publ-elem | sd-elem | sig-elem | sn-elem | spn-elem | title-elem | tr-elem | tran-elem | ex-elem | xlati-elem)*}
ety-elem = element ety{ety-content}
ex-content = text
ex-elem = element ex{ex-content}
examp-content = text
examp-elem = element examp{examp-content}
exp-content =  mixed{(fract-elem)*}
exp-elem = element exp{exp-content}
fam-content = text
fam-elem = element fam{fam-content}
fexp-content =  mixed{(exp-elem)*}
fexp-elem = element fexp{fexp-content}
figcap-content = attribute source {text}?,text
figcap-elem = element figcap{figcap-content}
figref-content = text
figref-elem = element figref{figref-content}
figtitle-content = text
figtitle-elem = element figtitle{figtitle-content}
figure-content = attribute source {text}?,(figtitle-elem)*
figure-elem = element figure{figure-content}
film-content = text
film-elem = element film{film-content}
fld-content =  mixed{(er-elem | ex-elem)*}
fld-elem = element fld{fld-content}
fr-content = text
fr-elem = element fr{fr-content}
fract-content =  mixed{(mathex-elem)*}
fract-elem = element fract{fract-content}
front-content = (div0-elem)*
fu-content = text
fu-elem = element fu{fu-content}
funct-content = text
funct-elem = element funct{funct-content}
gen-content =  mixed{(ets-elem)*}
gen-elem = element gen{gen-content}
geog-content = text
geog-elem = element geog{geog-content}
grk-content = text
grk-elem = element grk{grk-content}
grp-content = text
grp-elem = element grp{grp-content}
h1-content = text
h1-elem = element h1{h1-content}
h2-content = text
h2-elem = element h2{h2-content}
haspart-content = text
haspart-elem = element haspart{haspart-content}
headrow-content =  mixed{(colret-elem | item-elem)*}
headrow-elem = element headrow{headrow-content}
hw-content = attribute source {text}?, mixed{(supr-elem)*}
hw-elem = element hw{hw-content}
illu-content =  mixed{(er-elem | ex-elem | spn-elem)*}
illu-elem = element illu{illu-content}
illust-content = attribute source {text}?, mixed{(matrix-elem | ex-elem)*}
illust-elem = element illust{illust-content}
img-content = attribute src {text}?,text
img-elem = element img{img-content}
intensi-content = text
intensi-elem = element intensi{intensi-content}
inv-content = text
inv-elem = element inv{inv-content}
iref-content = text
iref-elem = element iref{iref-content}
isa-content =  mixed{(cref-elem | ecol-elem | fam-elem | phylum-elem)*}
isa-elem = element isa{isa-content}
item-content = text
item-elem = element item{item-content}
itran-content = text
itran-elem = element itran{itran-content}
jour-content = text
jour-elem = element jour{jour-content}
kingdom-content = text
kingdom-elem = element kingdom{kingdom-content}
mark-content = attribute source {text}?,attribute au {text}?, mixed{(as-elem | er-elem | ex-elem | plw-elem | pos-elem | singf-elem | ex-elem)*}
mark-elem = element mark{mark-content}
mathex-content =  mixed{(exp-elem | fract-elem | fract-elem | ratio-elem | root-elem | vinc-elem)*}
mathex-elem = element mathex{mathex-content}
matrix-content = (row-elem)*
matrix-elem = element matrix{matrix-content}
mcol-content = attribute source {text}?, mixed{(altname-elem | au-elem | cd-elem | chform-elem | col-elem | ety-elem | fld-elem | mark-elem | note-elem | pos-elem | pr-elem | prod-elem | sd-elem | spn-elem | ex-elem)*}
mcol-elem = element mcol{mcol-content}
member-content =  mixed{(spn-elem)*}
member-elem = element member{member-content}
membof-content =  mixed{(org-elem)*}
membof-elem = element membof{membof-content}
method-content =  mixed{(def-elem | sd-elem)*}
method-elem = element method{method-content}
methodfor-content = text
methodfor-elem = element methodfor{methodfor-content}
mhw-content = attribute source {text}?, mixed{(ety-elem | hw-elem | mark-elem | plu-elem | pluf-elem | pos-elem | pr-elem | vmorph-elem | ex-elem)*}
mhw-elem = element mhw{mhw-content}
mord-content =  mixed{(er-elem | ets-elem | pos-elem | ex-elem)*}
mord-elem = element mord{mord-content}
mstypec-content = text
mstypec-elem = element mstypec{mstypec-content}
mtable-content = attribute source {text}?,(row-elem)*
mtable-elem = element mtable{mtable-content}
musfig-content = text
musfig-elem = element musfig{musfig-content}
nmorph-content =  mixed{(decf-elem | er-elem | plu-elem | pos-elem | pr-elem)*}
nmorph-elem = element nmorph{nmorph-content}
note-content = attribute source {text}?, mixed{(h1-elem | title-elem | a-elem | abbr-elem | altname-elem | altsp-elem | ant-elem | as-elem | asp-elem | au-elem | book-elem | causedby-elem | cd-elem | chform-elem | chname-elem | chreact-elem | city-elem | class-elem | col-elem | consof-elem | contr-elem | country-elem | cref-elem | ecol-elem | emits-elem | er-elem | ets-elem | ets-elem | ety-elem | ex-elem | examp-elem | exp-elem | fam-elem | figref-elem | fld-elem | fract-elem | fract-elem | gen-elem | geog-elem | grk-elem | h2-elem | conseq-elem | hw-elem | img-elem | intensi-elem | inv-elem | iref-elem | isa-elem | mark-elem | mathex-elem | matrix-elem | mcol-elem | member-elem | membof-elem | musfig-elem | ord-elem | part-elem | part-elem | parts-elem | perf-elem | person-elem | person-elem | phylum-elem | pluf-elem | plw-elem | pos-elem | pr-elem | prod-elem | prodby-elem | ptcl-elem | q-elem | au-elem | ex-elem | sd-elem | see-elem | sig-elem | sing-elem | sn-elem | source-elem | spn-elem | stage-elem | state-elem | styp-elem | stype-elem | subord-elem | subphylum-elem | subtypes-elem | table-elem | title-elem | unit-elem | uses-elem | var-elem | ex-elem)*}
ord-content = text
ord-elem = element ord{ord-content}
org-content = text
org-elem = element org{org-content}
p-content =  mixed{(abbr-elem | altname-elem | altsp-elem | amorph-elem | ant-elem | as-elem | au-elem | bio-elem | bio-elem | caption-elem | cd-elem | col-elem | colbreak-elem | note-elem | conseq-elem | contr-elem | contxt-elem | cref-elem | cs-elem | def-elem | def2-elem | er-elem | ets-elem | ety-elem | ex-elem | figcap-elem | figure-elem | fld-elem | fr-elem | fu-elem | gen-elem | grk-elem | h1-elem | conseq-elem | hw-elem | isa-elem | illu-elem | illust-elem | mark-elem | mcol-elem | method-elem | mhw-elem | mord-elem | mtable-elem | nmorph-elem | note-elem | person-elem | plu-elem | pluf-elem | plw-elem | pos-elem | pr-elem | q-elem | au-elem | ex-elem | refs-elem | sd-elem | see-elem | simto-elem | sing-elem | singf-elem | sn-elem | source-elem | specif-elem | stype-elem | subtypes-elem | syn-elem | table-elem | title-elem | usage-elem | vmorph-elem | wns-elem | note-elem | wns-elem | wordforms-elem | ex-elem)*}
part-content =  mixed{(er-elem)*}
part-elem = element part{part-content}
parts-content = text
parts-elem = element parts{parts-content}
perf-content = text
perf-elem = element perf{perf-content}
person-content =  mixed{(altname-elem | ets-elem | ets-elem | ex-elem)*}
person-elem = element person{person-content}
phylum-content =  mixed{(er-elem)*}
phylum-elem = element phylum{phylum-content}
plu-content =  mixed{(au-elem | col-elem | er-elem | hw-elem | mark-elem | note-elem | pluf-elem | plw-elem | pos-elem | pr-elem | ex-elem)*}
plu-elem = element plu{plu-content}
pluf-content = text
pluf-elem = element pluf{pluf-content}
plw-content =  mixed{(abbr-elem | pr-elem)*}
plw-elem = element plw{plw-content}
pos-content = attribute source {text}?, mixed{(altsp-elem)*}
pos-elem = element pos{pos-content}
pr-content =  mixed{(er-elem | mark-elem | pos-elem | ex-elem)*}
prod-content =  mixed{(col-elem | ecol-elem)*}
prod-elem = element prod{prod-content}
prodby-content =  mixed{(gen-elem | spn-elem)*}
prodby-elem = element prodby{prodby-content}
ptcl-content = text
ptcl-elem = element ptcl{ptcl-content}
publ-content = text
publ-elem = element publ{publ-content}
q-content = attribute source {text}?,attribute au {text}?, mixed{(altname-elem | au-elem | city-elem | org-elem | corpn-elem | country-elem | er-elem | ex-elem | examp-elem | fract-elem | grk-elem | h2-elem | mark-elem | note-elem | org-elem | person-elem | person-elem | publ-elem | au-elem | ex-elem | person-elem | person-elem | spn-elem | stype-elem | title-elem | ex-elem)*}
q-elem = element q{q-content}
ratio-content = text
ratio-elem = element ratio{ratio-content}
recipr-content = text
recipr-elem = element recipr{recipr-content}
ref-content = attribute source {text}?,text
ref-elem = element ref{ref-content}
refs-content = attribute source {text}?, mixed{(book-elem | person-elem)*}
refs-elem = element refs{refs-content}
river-content = text
river-elem = element river{river-content}
root-content =  mixed{(exp-elem)*}
root-elem = element root{root-content}
row-content =  mixed{(item-elem)*}
row-elem = element row{row-content}
sd-content = text
see-content = attribute source {text}?,attribute au {text}?, mixed{(ant-elem | cref-elem | er-elem | ex-elem | pos-elem | simto-elem | ex-elem)*}
see-elem = element see{see-content}
sfield-content = text
sfield-elem = element sfield{sfield-content}
ship-content = text
ship-elem = element ship{ship-content}
sig-content =  mixed{(chform-elem)*}
sig-elem = element sig{sig-content}
simto-content =  mixed{(person-elem)*}
simto-elem = element simto{simto-content}
sing-content =  mixed{(pr-elem | singf-elem | sing-elem)*}
sing-elem = element sing{sing-content}
singf-content = text
singf-elem = element singf{singf-content}
sn-content = attribute source {text}?,text
source-content = text
specif-content = attribute source {text}?,text
specif-elem = element specif{specif-content}
spn-content =  mixed{(ets-elem)*}
spn-elem = element spn{spn-content}
stage-content = text
stage-elem = element stage{stage-content}
stageof-content = (gen-elem)*
stageof-elem = element stageof{stageof-content}
state-content = text
state-elem = element state{state-content}
street-content = text
street-elem = element street{street-content}
styp-content =  mixed{(class-elem | col-elem | cref-elem | ecol-elem | er-elem | ex-elem | gen-elem | hw-elem | ord-elem | spn-elem)*}
styp-elem = element styp{styp-content}
stype-content =  mixed{(col-elem | cref-elem | ecol-elem | er-elem | ex-elem | gen-elem | ord-elem | spn-elem | subord-elem)*}
stype-elem = element stype{stype-content}
subclass-content =  mixed{(er-elem | stype-elem)*}
subclass-elem = element subclass{subclass-content}
subfam-content = text
subfam-elem = element subfam{subfam-content}
subord-content = text
subord-elem = element subord{subord-content}
subphylum-content =  mixed{(er-elem)*}
subphylum-elem = element subphylum{subphylum-content}
subtypes-content = attribute source {text}?, mixed{(cd-elem | col-elem | mcol-elem | mstypec-elem | sd-elem | spn-elem | ex-elem)*}
subtypes-elem = element subtypes{subtypes-content}
sup-content = text
sup-elem = element sup{sup-content}
supr-content = text
supr-elem = element supr{supr-content}
syn-content = attribute source {text}?,attribute au {text}?, mixed{(as-elem | au-elem | chname-elem | class-elem | er-elem | fam-elem | gen-elem | ord-elem | org-elem | person-elem | pos-elem | sd-elem | spn-elem | subclass-elem | subfam-elem | subord-elem | var-elem | ex-elem)*}
syn-elem = element syn{syn-content}
table-content = attribute FRAME {text}?,attribute RULES {text}?,attribute  source {text}?, mixed{(caption-elem | altname-elem | bar-elem | caption-elem | colheads-elem | er-elem | fract-elem | headrow-elem | row-elem | source-elem | tabtitle-elem | title-elem | tr-elem | title-elem | ex-elem)*}
table-elem = element table{table-content}
tabtitle-content = text
tabtitle-elem = element tabtitle{tabtitle-content}
td-content = text
td-elem = element td{td-content}
th-content = attribute COLSPAN {text}?,text
th-elem = element th{th-content}
title-content = text
title-elem = element title{title-content}
tr-content =  mixed{(td-elem | th-elem)*}
tr-elem = element tr{tr-content}
tradename-content = text
tradename-elem = element tradename{tradename-content}
tran-content = text
tran-elem = element tran{tran-content}
unit-content = text
unit-elem = element unit{unit-content}
usage-content = attribute source {text}?, mixed{(as-elem | asp-elem | au-elem | contr-elem | cref-elem | def-elem | er-elem | ets-elem | ex-elem | person-elem | pos-elem | q-elem | ref-elem | sing-elem | sn-elem | source-elem | stype-elem | ex-elem | ex-elem)*}
usedby-content =  mixed{(er-elem)*}
usedby-elem = element usedby{usedby-content}
usedfor-content = text
usedfor-elem = element usedfor{usedfor-content}
uses-content = text
uses-elem = element uses{uses-content}
var-content = text
var-elem = element var{var-content}
vinc-content = text
vinc-elem = element vinc{vinc-content}
vmorph-content =  mixed{(altsp-elem | au-elem | conjf-elem | er-elem | ets-elem | mark-elem | pos-elem | pr-elem | usage-elem | ex-elem)*}
vmorph-elem = element vmorph{vmorph-content}
wf-content = text
wf-elem = element wf{wf-content}
wns-content = text
wns-elem = element wns{wns-content}
wordforms-content = attribute source {text}?,attribute au {text}?, mixed{(au-elem | col-elem | def-elem | er-elem | ety-elem | fld-elem | hw-elem | mark-elem | pos-elem | pr-elem | wf-elem)*}
wordforms-elem = element wordforms{wordforms-content}
xlati-content = text
xlati-elem = element xlati{xlati-content}
